<!-- ======================== Booking ======================== -->
<section class="booking booking-inner">
    <div class="section-header hidden">
        <div class="container">
            <h2 class="title">Booking & reservations</h2>
        </div>
    </div>

    <div class="booking-wrapper">
        <div class="container">
            <form action="/rooms/check-availability" method="POST">
                <div class="row">
                    <!--=== date arrival ===-->
                    <div class="col-xs-4 col-sm-3">
                        <div class="date" id="dateArrival" data-text="Arrival">
                            <input class="datepicker" name="checkIn" readonly="readonly" />
                            <div class="date-value"></div>
                        </div>
                    </div>

                    <!--=== date departure ===-->
                    <div class="col-xs-4 col-sm-3">
                        <div class="date" id="dateDeparture" data-text="Departure">
                            <input class="datepicker" name="checkOut" readonly="readonly" />
                            <div class="date-value"></div>
                        </div>
                    </div>

                    <!--=== guests ===-->
                    <div class="col-xs-4 col-sm-2">
                        <div class="guests" data-text="Guests">
                            <div class="result">
                                <input class="qty-result" type="text" value="2" id="qty-result" readonly="readonly" />
                                <div class="qty-result-text date-value" id="qty-result-text"></div>
                            </div>
                            <ul class="guest-list">
                                <li class="header">
                                    Please choose number of guests <span class="qty-apply"><i class="icon icon-cross"></i></span>
                                </li>
                                <li class="clearfix">
                                    <div>
                                        <input class="qty-amount" value="2" type="text" id="ticket-adult" name="adults" data-value="2" readonly="readonly" />
                                    </div>
                                    <div>
                                        <span>Adults <small>16+ years</small></span>
                                    </div>
                                    <div>
                                        <input class="qty-btn qty-minus" value="-" type="button" data-field="ticket-adult" />
                                        <input class="qty-btn qty-plus" value="+" type="button" data-field="ticket-adult" />
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <div>
                                        <input class="qty-amount" value="0" type="text" id="ticket-children" name="children" data-value="0" readonly="readonly" />
                                    </div>
                                    <div>
                                        <span>Children <small>2-11 years</small></span>
                                    </div>
                                    <div>
                                        <input class="qty-btn qty-minus" value="-" type="button" data-field="ticket-children" />
                                        <input class="qty-btn qty-plus" value="+" type="button" data-field="ticket-children" />
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!--=== button ===-->
                    <div class="col-xs-12 col-sm-4">
                        <button type="submit" class="btn btn-clean">
                            Check Availability
                            <small>Best Rates Guaranteed</small>
                        </button>
                    </div>
                </div> <!--/row-->
            </form>
        </div><!--/booking-wrapper-->
    </div> <!--/container-->
</section>