<!-- ================== Footer  ================== -->
<footer>
    <div class="container">
        <!--footer links-->
        <div class="footer-links">
            <div class="row">
                <div class="col-sm-6 footer-left">
                    <a href="#">Sitemap</a> &nbsp; | &nbsp; <a href="#">Privacy policy</a> | &nbsp; <a href="#">Careers</a>
                </div>
                <div class="col-sm-6 footer-right">
                    <a href="#">Gallery</a> &nbsp; | &nbsp; <a href="/rooms">Reservations</a> | &nbsp; <a href="/contact">Contact Us</a>
                </div>
            </div>
        </div>

        <!--footer social-->
        <div class="footer-social">
            <div class="row">
                <div class="col-sm-12 text-center hidden">
                    <a href="/" class="footer-logo"><img src="/assets/images/logo.png" alt="Full Moon Hotels" /></a>
                </div>
                <div class="col-sm-12 icons">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-12 copyright">
                    <small>Copyright &copy; 2025 Full Moon Hotels &nbsp; | &nbsp; All Rights Reserved</small>
                </div>
                <div class="col-sm-12 text-center">
                    <img src="/assets/images/logo.png" alt="Full Moon Hotels" />
                </div>
            </div>
        </div>
    </div>
</footer>