<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Mobile Web-app fullscreen -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">

<!-- Meta tags -->
<meta name="description" content="Full Moon Hotels - Luxury hotel in Owerri with premium amenities">
<meta name="author" content="Full Moon Hotels">
<link rel="icon" href="favicon.ico">

<!--Title-->
<title><%= title || 'Full Moon Hotels - Luxury Accommodation in Owerri' %></title>

<!-- Open Graph Meta Tags -->
<meta property="og:title" content="Full Moon Hotels - Luxury Accommodation in Owerri">
<meta property="og:description" content="Experience luxury at Full Moon Hotels Owerri. Four-star accommodation with premium amenities, elegant rooms, and exceptional service for business and leisure travelers.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://fullmoon.found.ng">
<meta property="og:image" content="https://fullmoon.found.ng/assets/images/og-image.jpg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:site_name" content="Full Moon Hotels">
<meta property="og:locale" content="en_US">

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Full Moon Hotels - Luxury Accommodation in Owerri">
<meta name="twitter:description" content="Experience luxury at Full Moon Hotels Owerri. Four-star accommodation with premium amenities and exceptional service.">
<meta name="twitter:image" content="https://fullmoon.found.ng/assets/images/og-image.jpg">
<meta name="twitter:site" content="@fullmoonhotels">
<meta name="twitter:creator" content="@fullmoonhotels">

<!-- Additional Meta Tags -->
<meta property="business:contact_data:street_address" content="Housing Area C, New Owerri">
<meta property="business:contact_data:locality" content="Owerri">
<meta property="business:contact_data:region" content="Imo State">
<meta property="business:contact_data:postal_code" content="460001">
<meta property="business:contact_data:country_name" content="Nigeria">
<meta property="place:location:latitude" content="5.4833">
<meta property="place:location:longitude" content="7.0333">

<!--CSS styles-->
<link rel="stylesheet" media="all" href="/css/bootstrap.css" />
<link rel="stylesheet" media="all" href="/css/animate.css" />
<link rel="stylesheet" media="all" href="/css/font-awesome.css" />
<link rel="stylesheet" media="all" href="/css/linear-icons.css" />
<link rel="stylesheet" media="all" href="/css/hotel-icons.css" />
<link rel="stylesheet" media="all" href="/css/magnific-popup.css" />
<link rel="stylesheet" media="all" href="/css/owl.carousel.css" />
<link rel="stylesheet" media="all" href="/css/datepicker.css" />
<link rel="stylesheet" media="all" href="/css/theme.css" />

<!--Google fonts-->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500&amp;subset=latin-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700&amp;subset=latin-ext" rel="stylesheet">