<!-- ========================  Header content ======================== -->
<section class="frontpage-slider">
    <div class="owl-slider owl-slider-header owl-slider-fullscreen">
        <!-- === slide item === -->
        <div class="item" style="background-image:url(/assets/images/slide-beach.jpg)">
            <div class="box text-center">
                <div class="container">
                    <div class="rating animated" data-animation="fadeInDown">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h2 class="title animated h1" data-animation="fadeInDown">
                        Luxury Hotel <br /> <span>in Owerri</span>
                    </h2>
                    <div class="desc animated" data-animation="fadeInUp">
                        Four-star accommodation for business and leisure
                    </div>
                    <div class="animated" data-animation="fadeInUp">
                        <a href="/rooms" class="btn btn-clean">Book Your Stay</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- === slide item === -->
        <div class="item" style="background-image:url(/assets/images/slide-room.jpg)">
            <div class="box text-center">
                <div class="container">
                    <h2 class="title animated h1" data-animation="fadeInDown">
                        Elegant Rooms <br />
                        & Suites
                    </h2>
                    <div class="desc animated" data-animation="fadeInUp">
                        Art deco-style rooms with panoramic city views and premium amenities
                    </div>
                    <div class="animated" data-animation="fadeInUp">
                        <a href="/rooms" class="btn btn-clean">Explore Rooms</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- === slide item === -->
        <div class="item" style="background-image:url(/assets/images/slide-pool1.jpg)">
            <div class="box text-center">
                <div class="container">
                    <div class="rating animated" data-animation="fadeInDown">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h2 class="title animated h1" data-animation="fadeInDown">Premium Service</h2>
                    <div class="desc animated" data-animation="fadeInUp">Attentive, first-rate service by well-trained staff</div>
                    <div class="desc animated" data-animation="fadeInUp">for an unforgettable stay</div>
                    <div class="animated" data-animation="fadeInUp">
                        <a href="/about" class="btn btn-clean">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--/owl-slider-->
</section>